<div>
    <div ng-show="!vm.resetForm" class="jumbotron col-md-6 md-login">
        <h2>Форма відновлення паролю</h2>
        <p>Якщо ви забули свій пароль - ви можете відновити його. Для цього необхідно вказати свій логін і натиснути на кнопку "відправити". Подальші інструкції прийдуть на електронну скриньку, яка була вказана при реєстрації даного логіну.</p>
        <form name="form" ng-submit="" role="form">
            <div class="form-group" >
                <label for="username">Ваш логін</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.restorePassword()">Відправити</button><a href="site/login" class="btn btn-link">Відміна</a>
            </div>
        </form>
    </div>
    <div ng-show="vm.resetForm" class="jumbotron col-md-6 md-login">
        <h2>Форма зміни паролю</h2>
        <p>Введіть новий пароль.</p>
        <form name="form" ng-submit="" role="form">
            <div class="form-group" >
                <label for="password">Новий пароль</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            </div>
            <div class="form-group">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="vm.sendNewPassword()">Відправити</button>
            </div>
        </form>
    </div>
</div>


